
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 


body {
    font-family: 'Arial, sans-serif';

}

span{color: $color-shoes;}

.namesection{text-align: center;
    background-color:$color-namesection;
    font-size: 40px;
    font-weight: bolder;
    text-transform: uppercase;
    margin-top: 5%;}

    footer{
        background-color: $color-footerbg;
        color: $color-footerletra;
        text-align: center;
        div{
            a{
                .pie{
                    margin-top: 10px;
                    margin-bottom: 10px;
                    width: 3%;
                }
            }
        }
        .footerP{
            font-size: 20px;
        }
    }