.partenike{
    .calzadonike{
        @include calzado(flex,row,wrap,space-evenly);
        div{
            @include divpumanike(350px,100%, 2px solid black, 5%, center, 20px,nth($colores,2),1s);
            &:hover{
                transform:scale(1.06);
    box-shadow: 10px 10px 44px -19px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 44px -19px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 44px -19px rgba(0,0,0,0.75);
            }
            .nike{
                width: 300px;  
      height: 300px;
     background-color:nth($colores,5);
     box-shadow: 10px 10px 44px -19px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 44px -19px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 44px -19px rgba(0,0,0,0.75);
            }
            h3{ margin: 5% auto 10% auto;
                @extend %h3calzado;
            }
            p{margin: 3% auto 10% auto;
                @extend %pcalzado;
            }
            .botoncomprarnike{
                @extend %botoncomprar;
            }
        }
    }
}

.parteadidas{
    .grid-container{
        margin:5% 0;
        width: 100%;
        border: solid 4px black;
        display: grid;
        grid-auto-rows: 1fr 1fr 1fr;
       grid-template-columns: repeat(4,1fr);
       gap: 20px;
        .grid-items{
            border: solid 2px black;
            padding: 20px;
            text-align: center;
            margin: 5px;
            transition: 2s;
            &:hover{    transform:scale(1.09);
                box-shadow: 10px 10px 44px -19px rgba(0,0,0,0.75);
                -webkit-box-shadow: 10px 10px 44px -19px rgba(0,0,0,0.75);
                -moz-box-shadow: 10px 10px 44px -19px rgba(0,0,0,0.75);}
            img{    width: 70%;
                height: 100%; }
        }
    }
}

.partepuma{
    .calzadopuma{
        @include calzado(flex,row,wrap,space-evenly);
        div{
            @include divpumanike(400px,100%,2px solid black,5%, center,20px,nth($colores,2),1s);
            &:hover{        transform:scale(1.03);
                box-shadow: 10px 10px 44px -19px rgba(0,0,0,0.75);
                -webkit-box-shadow: 10px 10px 44px -19px rgba(0,0,0,0.75);
                -moz-box-shadow: 10px 10px 44px -19px rgba(0,0,0,0.75);}
            .puma{
                width:100%;
                height: 220px;
                background-color: nth($colores,5);
                box-shadow: 10px 10px 44px -19px rgba(0,0,0,0.75);
             -webkit-box-shadow: 10px 10px 44px -19px rgba(0,0,0,0.75);
             -moz-box-shadow: 10px 10px 44px -19px rgba(0,0,0,0.75);
            }
            h3{margin: 7% auto 10% auto;
                @extend %h3calzado;}
            p{margin: 0 auto 10% auto;
                @extend %pcalzado;}
            .botoncomprarpuma{
                @extend %botoncomprar;
            }
        }
    }
}